.app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.screen {
  font-size: 30px;
  text-align: center;
  width: 100px;
  height: 70px;
  border: 2px solid gray;
  border-radius: 10px;
}

.button {
  font-size: 30px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.buttons-area {
  display: flex;
  gap: 10px;
}

.delete-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}
